/** Google Font Import **/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');


/** Global Styling **/
:root {
    background-color: #0b3954;
    font-family: 'Montserrat', sans-serif;
}

/** Index Logo Section **/
#logo {
    font-family: 'Bebas Neue', cursive;
    color: #ff5a5f;
    text-align: center;
    font-size: 4rem;
    
}

#logo h1 {
    margin: 0;
    padding-top: 20px;
    letter-spacing: 8px;
    justify-content: center;
}

#logo p {
    padding-top: 0;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

/** Homepage Buttons **/
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#buttons:hover {
    cursor: pointer;
    transform: scale(1.1); /** Referenced from https://www.w3schools.com/howto/howto_css_zoom_hover.asp **/
}

.btn {
    font-size: 1.2rem;
    color: #0b3954;
    text-decoration: none;
    text-align: center;
    background-color: #ff5a5f;
    padding: 0.5rem;
    width: 10rem;
}

/** changes to page layout for desktop - drop whole page content down from the top of the page **/
@media only screen and (min-width: 768px) {
    body {
        margin: 120px 10px;
    }
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.socials a {
    color: #bfd7ea;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 200%;
}

/** Game page Styling **/

/** Loading Item from https://www.w3schools.com/howto/howto_css_loader.asp **/
.loadingWheel {
    border: 2rem solid #bfd7ea;
    border-radius: 50%;
    border-top: 2rem solid #ff5a5f;
    width: 15rem;
    height: 15rem;
    animation: spin 3s linear infinite;
    padding: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/** Score and progress section **/
#progress-display {
    display: flex;
    font-size: 1.2rem;
    color: #bfd7ea;
    text-align: center;
    width: 100%;
    padding-left: 5rem;
}

#progress-heading {
    margin: 0%;
}

/** Quiz area Styling **/
#question {
    color: #bfd7ea;
    text-align: center;
    padding: 2rem 4rem;
    margin: 0%;
}

.answerChoice {
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1rem;
    color: #0b3954;
    background-color: #bfd7ea;
}

.answerChoice:hover {
    cursor: pointer;
    transform: translate(-0.4rem);
}

.choice-letter {
    background-color: #ff5a5f;
    padding: 1rem 2rem;
    margin: 0%;
}

.choice-text {
    padding: 1rem;
    width: 100%;
    margin: 0%;
    ;
}

