/** Google Font Import **/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/** Whole Page Styling **/
:root {
    background-color: #0b3954;
}

/** Index Logo Section **/
#logo {
    font-family: 'Bebas Neue', cursive;
    color: #ff5a5f;
    text-align: center;
    font-size: 5rem;
    
}

#logo h1 {
    margin: 0;
    padding-top: 20px;
    letter-spacing: 8px;
}

#logo p {
    font-family: 'Montserrat', sans-serif;
    padding-top: 0;
    font-size: 1.2rem;
}

/** Homepage Buttons **/
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: #0b3954;
    text-decoration: none;
    text-align: center;
    background-color: #ff5a5f;
    padding: 0.5rem;
    width: 10rem;
}

/** changes to page layout for desktop - drop whole page content down from the top of the page **/
@media only screen and (min-width: 768px) {
    body {
        margin: 120px 10px;
    }
}